//SFProFonts

$font-blackitalic : "SFProFonts BlackItalic";
$font-bold : "SFProFonts Bold";
$font-heavyitalic : "SFProFonts HeavyItalic";
$font-lightitalic : "SFProFonts LightItalic";
$font-medium : "SFProFonts Medium";
$font-regular : "SFProFonts Regular";
$font-semibolditalic : "SFProFonts SemiBoldItalic";
$font-thinitalic : "SFProFonts ThinItalic";
$font-ultralightitalic : "SFProFonts UltraLightItalic";


