.landingPage {
  .inputStyle {
    border: none;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0;
    line-height: 1.25;
    padding-bottom: 5px;
    padding-top: 6px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .landingPage {
    .sideBar {
      display: none;
    }
  }
}
